<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>p.me blog</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper light-blue darken-3">
        <a href="#" class="brand-logo center">P I C T O R I Z E &nbsp&nbsp&nbsp M E</a>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      {% block content %}
      {% endblock %}

      <a class="center-align btn light-blue darken-3 right" href="/admin">Login as Admin</a>
    </div>
  </body>
</html>
